.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.checked {
    color: orange;
}

.offcanvas-top {
    height: fit-content;
}

.lista-item {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

hr {
    color: white
}

.dropdown-toggle{
    margin-left: 93%;
    margin-bottom: 5px;
}